%header
  %table
    %th{:class => "logo"}= link_to "Critical Fail", '/'
    %th{:class => "header_link"}= link_to "Characters", characters_path
    %th{:class => "header_link"} Races
    %th{:class => "header_link"} Classes
    %th{:class => "header_link"} Backgrounds
    %th{:class => "header_link"} Spells
    %th{:class => "header_link"} Equipment

%table
  %thead
    %tr
      %th Name
      %th Strength
      %th Dexterity
      %th Constitution
      %th Wisdom
      %th Intelligence
      %th Charisma
  %tbody
    - @characters.each do |character|
      %tr
        %td= link_to "#{character.name}", character_path(:id => character.id)
        %td= character.strength
        %td= character.dexterity
        %td= character.constitution
        %td= character.wisdom
        %td= character.intelligence
        %td= character.id

%h3= link_to "New Character", new_character_path, class: 'button'
